.mgp-bannerCircuit {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner-bgCircuit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}
