.OPT_option_gridContainer {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.OPT_option_card {
  background-color: var(--card-bg);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ffffff00;
  transition: transform 0.2s ease-in-out;
}

.OPT_option_card:hover {
  transform: translateY(-5px);
}

.OPT_option_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.OPT_option_cardLabel {
  background-color: goldenrod;
  color: #fff;
  font-weight: 600;
  padding: 12px 0;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 0 0 20px 20px;
}
