.matches-section {
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.matches-title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.match-card {
  width: 90%;
  background-color: #2a1b12;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 2px solid #955e10;
}

.match-date {
  background: #955e10;
  padding: 8px 20px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
}

.match-versus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.team img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.team span {
  font-size: 18px;
  font-weight: 600;
}

.vs {
  font-size: 22px;
  font-weight: 900;
}

.match-type {
  background: #955e10;
  padding: 12px 25px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 600;
}

/* ✅ Responsive */
@media (max-width: 768px) {
  .matches-title {
    font-size: 30px;
  }

  .match-versus {
    gap: 20px;
  }

  .team img {
    width: 55px;
    height: 55px;
  }
}
